.main {
  border: 2px solid black;
  width: 1440px;
  height: 2443px;
}
.navbar {
  border: 2px solid white;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainimg {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.btn {
  position: absolute;
  display: block;
  margin-top: 400px;
  margin-left: 10px;
  margin-right: 950px;
  background-color: inherit;
  color: white;
  border: 2px solid white;
  font-size: 25px;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
}
.productpictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}
.shopcarticon {
  width: 40px;
}
.searchicon {
  width: 20px;
}
.personalicon {
  width: 20px;
}
.lira {
  display: block;
  margin-left: 95px;
  margin-right: 55px;
  margin-bottom: 50px;
  width: 380px;
  height: 380px:;
}
.hal {
  display: block;
  margin-left: 95px;
  margin-right: 55px;
  margin-bottom: 50px;
}
.kaede {
  display: block;
  margin-left: 95px;
  margin-right: 55px;
  margin-bottom: 50px;
}
.hairpin {
  display: block;
  margin-left: 95px;
  margin-right: 55px;
  margin-bottom: 50px;
}
.plaine {
  display: block;
  margin-left: 95px;
  margin-right: 55px;
  margin-bottom: 50px;
}
.yuki {
  display: block;
  margin-left: 95px;
  margin-right: 55px;
  margin-bottom: 50px;
}

.shopview{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 120px;
  margin-left: 100px;
}
.shoptl{    
  font-family: 'DM-Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;

}
.viewall{
  font-family: 'DM-Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;

}
